body {
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  
}
.navbar {
     text-align:center; 
     width: 100%; 
     position: sticky;
     top: 0;
     z-index: 100;
     background-color: white;
    } 
    .navbar 
    ul {
        
        list-style-type: none;
         display:inline-block; 
         margin-top: 2px;
         margin-bottom: 2px;
   
        } 
        .navbar 
        li { 
            float:left; 
        } .navbar 
        li + li {
             margin-left:50px; 
            }
    
  }
 
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration-color:black;
    
    padding: 1px 1px;
    text-decoration: none;
  }
  
  
  li a:hover {
   color: #7ABA96;
  }
  .sidesection {
    width: 20%;
    height: 100%;
    
    right:10%;
    top:10px;
    text-align: center;
    border-radius:25px;
    margin-top: 100px;
    margin-bottom: 20%;
  
    color: #7ABA96;
}
.libro {
    width: 100%;
    text-align: center;
  color: black;
    background-color:rgb(244, 217, 225);
  }
  .apúntame{
      background-color: #7ABA96;
      font-weight: bold;
      width: 50px;
      height: 50px;
  }
  div.recetas{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 70%;
    height: 100%;
    
   
  }
 
  }
  .recetastb {
   
    text-align: center;
  color: black;
  }
  h4{
      text-align: center;
  }
  .arte {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .artetext{
    font-size:15;
     font-weight: 400;
      text-align: left; 
      margin-left: 10%;
      margin-right: 10%;
  }
  footer{
      background-color: black; 
    text-align: center;
    height: 100px;
  } 
  .footer 
  ul {
    list-style-type: none;
    text-decoration: none;
    display:inline-block; 
    width: 50%;
        text-align: center;
        margin: 0 auto;
        padding: 50px; 
    }.footer 
      li {
        display: inline-block;
        margin: 0 2%;
        text-align: center;
        width: 10%;
      }
  .footer
      li a{
       
       color: white;
       text-decoration-color: white;
      }
    