body {
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  
}

.navbar {
     text-align:center; 
     width: 100%; 
      
    } 
    .navbar 
    ul {
        
        list-style-type: none;
         display:inline-block; 
        
         
   
        } 
        .navbar 
        li { 
            float:left; 
        } .navbar 
        li + li {
             margin-left:50px; 
            }
    
  }
 
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration-color:black
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
  }
  
  
  li a:hover {
   color: #7ABA96;
  }
  .sidesection {
    width: 20%;
    height: 100%;"
    padding: 3% 10% ;
    right:10%;
    top:10px;
    text-align: center;
    border-radius:25px;
    margin-top: 100px;
  
}
p{
    color: #7ABA96;
    text-align: left;
}
table, th, td {
    width: 100%;
    text-align: center;
  
    background-color:rgb(244, 217, 225);
  }
  .apúntame{
      background-color: #7ABA96;
      font-weight: bold;
      width: 50px;
      height: 50px;
  }
  